#board {
    position: relative;
    border: 2px solid #FF8C00;
}

.cell {
    box-sizing: border-box;
    border: 1px solid #FF8C00;
    transition: background-color 0.2s ease;;
    position: absolute;
}

.live {
    background: #FF592E;
}

.disabled {
    opacity: 0.6;
}

.dead {
    background: #fff;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 7px 20px 9px;
    margin: .5em .5em .5em 0;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    border-radius: 2px;
    box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
    background: linear-gradient(to bottom, rgba(255,183,0,1) 0%,rgba(255,140,0,1) 100%);
    border: 1px solid #e59500;
}